---
import { NewHouseRequest, ViviendaApi } from "../../../api/A2viviendasREST/apis/ViviendaApi";
import WindbnbLayout from "../../../layouts/WindbnbLayout.astro";
import AppConfig from "../../../config";
import 'leaflet/dist/leaflet.css';
import {
  Configuration as ViviendaConfiguration,
  NewVivienda,
  Vivienda
} from "../../../api/A2viviendasREST";
import Cloudinary from "../../../components/Cloudinary.svelte";

const viviendaApi = new ViviendaApi(
  new ViviendaConfiguration(AppConfig.viviendas)
);

let newHouseRequest : NewHouseRequest;
let newVivienda : NewVivienda;
---
<WindbnbLayout title="New house" page={"NEW_HOUSE"}>
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 bg-light">
      <Cloudinary
        cloudName= {import.meta.env.CLOUDINARY_CLOUD_NAME}
        uploadPreset={import.meta.env.CLOUDINARY_UPLOAD_PRESET}
        client:load
      />
    </div>
</WindbnbLayout>