---
import {
  Configuration as ViviendaConfiguration,
  ViviendaApi,
} from "../api/A2viviendasREST"

const api = new ViviendaApi(new ViviendaConfiguration);

---
<div class="card mb-5" style="width: 50rem;">
    <img src="https://s37805.pcdn.co/fotocasa-life/wp-content/uploads/2019/11/bancos-4.jpg" class="card-img-top" alt="foto de la vivienda">
    <div class="card-body">
      <h5 class="card-title"><a href="/bookings">Titulo vivienda</a></h5>
      <p class="card-text">Descripción de la vivienda</p>
      <p class="card-text">Localización</p>
      <p class="card-text">Precio/mes</p>
    </div>
  </div>
