---
import WindbnbLayout from "../../layouts/WindbnbLayout.astro";
import ViviendaComponent from "../../components/ViviendaComponent.astro";

import {
  GetViviendasRequest,
  ViviendaApi,
} from "../../api/A2viviendasREST/apis";

import { Configuration as ViviendaConfiguration } from "../../api/A2viviendasREST";

import AppConfig from "../../config";

const params = Astro.url.searchParams;

const titleFilter = params.get("title");
const priceMaxFilter = params.get("priceMax");
const priceMinFilter = params.get("priceMin");

const filter: GetViviendasRequest = {
  title: titleFilter ? titleFilter : undefined,
  priceMax: priceMaxFilter ? parseInt(priceMaxFilter) : undefined,
  priceMin: priceMinFilter ? parseInt(priceMinFilter) : undefined,
};

const viviendaApi = new ViviendaApi(
  new ViviendaConfiguration(AppConfig.viviendas)
);
const viviendas = await viviendaApi.getViviendas(filter);
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<WindbnbLayout title="Viviendas" page={"HOME"}>
  <div class="row">
    <h1>Filters</h1>
    <aside class="col-md-6 col-lg-6 col-sm-8 col-8 mb-4">
      <form>
        <div class="mb-3">
          <label class="form-check-label">Search by title</label>
          <input type="text" name="title" value="" class="form-control" />
        </div>
        <div class="mb-3 h-100"></div>
        <label class="form-check-label">Price</label>
        <div class="row">
          <div class="col">
            <input
              type="number"
              name="priceMin"
              value=""
              placeholder="min"
              class="form-control"
            />
          </div>
          <div class="col">
            <input
              type="number"
              name="priceMax"
              value=""
              placeholder="max"
              class="form-control"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
      </form>
    </aside>

    {viviendas.map((vivienda) => <ViviendaComponent vivienda={vivienda} />)}
  </div>
</WindbnbLayout>
