---
import { BookingApi, Configuration } from "../../api/A2reservasREST";
import config from "../../config";
import Layout from "../../layouts/Layout.astro";

const api = new BookingApi(new Configuration(config.reservas));
const bookings = await api.getBookings();
---

<Layout title="reservas owo">
  {
    bookings.map((x) => {
      <span>{x.id}</span>;
    })
  }
</Layout>
