---
import { ViviendaApi } from "../../../api/A2viviendasREST";
import WindbnbLayout from "../../../layouts/WindbnbLayout.astro";
import AppConfig from "../../../config";
import {
    Configuration as ValoracionConfiguration, 
    Valoracion,
} from "../../../api/A2viviendasREST";

const {idValoracion} = Astro.params as {idValoracion: string};
const viviendaApi = new ViviendaApi(
    new ValoracionConfiguration(AppConfig.viviendas)
);
---

<WindbnbLayout title="Delete valoration {idValoracion}">
    <div class="alert alert-warning" role="alert">
        You will delete the valoration with id: {idValoracion}, are you sure?
        <form class="mt-1" method="post" action="/valoraciones/delete/deleteValoracionHandler">
            <input type="text" name="idValoracion" value={idValoracion} hidden />
            <button type="submit" class="btn btn-warning">Delete</button>
        </form>
    </div>
</WindbnbLayout>